.submit_button {
    background-color: #f5f5dc;
    cursor: pointer;
    height: 3rem;
    width: 7rem;
    font-size: 16px;
}

input {
    height: 3rem;
    width: 6rem;
    border: none;
}

img {
    width: 128px;
    height: 192px;
    border: 1px solid black;
}

#name_card {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hand_bottom {
    width: 60%;
    margin: auto;
    border: 2px solid red;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#holder_bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}



#hand_top img {
    transform: rotate(180deg);
}

#hand_top {
    width: 60%;
    margin: auto;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#holder_top {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    position: fixed;
    top: 0;
}



#hand_left {
    width: 80%;
    margin: auto;
    border: 2px solid green;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#holder_left {
    width: 100vh;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 100%;
    transform-origin: 0 100%;
}



#hand_right {
    width: 80%;
    margin: auto;
    border: 2px solid green;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#holder_right {
    width: 100vh;
    transform: rotate(270deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 100%;
    transform-origin: 0 100%;
}

.PlayableCard {
    background: transparent;
    border: none !important;
    font-size: 0;
}

#discard {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#draw {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

html, body, #root {
    height: 100%;
}