html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

button {
    background-color: #f5f5dc;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    font-size: 16px;
}

header, .clear, #playerMessage, #winMessage {
    margin: auto;
    width: fit-content;
}

.grid-container {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    margin: auto;
    width: 9rem;
}

.grid-items {
    width: 3rem;
}

.invalidMove {
    animation: shake .5s;
}

#buttonClear {
    height: 3rem;
    width: 6rem;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
