button {
    background-color: #f5f5dc;
    cursor: pointer;
    height: 3rem;
    width: 7rem;
    font-size: 16px;
}

input{
  height: 3rem;
  width: 6rem;
  border: none;
}

img{
    padding-left: 5px;
    padding-right: 5px;
    width: 128px;
    height: 192px;
    box-shadow: 1px 1px 1px 1px black;
}

.hand_bottom{
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 0;
    border: 2px red;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand_top{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    border: 2px blue;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hand_left{
    transform: rotate(90deg);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    border: 2px green;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand_right{
    transform: rotate(270deg);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    border: 2px green;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;

}
